[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit IoT architecture
Type=Link
URL=https://de.slideshare.net/sumitcan/iot-architecture
Icon=text-html
