[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit Publish-Subscribe Security in IoT Environments
Type=Link
URL=https://blog.securitycompass.com/publish-subscribe-security-in-iot-environments-2d1eb2d3bd15#.6cpkffane
Icon=text-html
